body{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    h1{
        font-size: 5em;
        width: 25%;
        margin-left: 5%;
        
    }

    .panel{
        background-color: rgb(221, 214, 214);
        height: 100vh;
        width: 45vw;
        position: relative;
        

        .box {
            border: 5px solid rosybrown;
            position: absolute;
            width: 500px;
            height: 200px;
            top: 20%;
            left: -20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .bulb {
                max-width: 150px;
                height: 100px;
            }
            p{
                font-size: 20px;
                width: 65%;
            }
                }


    }
}



